# Game of Thrones: Pandas Are Coming

## 1. Import Libraries and Dependencies

In [1]:
# Import necessary libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

## 2. Set File Path to CSV using Pathlib

In [2]:
# Save file path to variable
csvpath = Path('../Resources/game_of_thrones.csv')

## 3. Import CSV into Pandas DataFrame

In [3]:
# Read csv with Pandas
df = pd.read_csv(csvpath)
df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

## 4. Count Unique Allegiances

In [4]:
# Collect a list of all the unique values in "Allegiances"
df['Allegiances'].unique()

array(['Lannister', 'None', 'House Targaryen', 'House Greyjoy',
       'Baratheon', "Night's Watch", 'Arryn', 'House Stark',
       'House Tyrell', 'Tyrell', 'Stark', 'Greyjoy', 'House Lannister',
       'Martell', 'House Martell', 'Wildling', 'Targaryen', 'House Arryn',
       'House Tully', 'Tully', 'House Baratheon'], dtype=object)

## 5. Filter to Only Allegiances and Names

In [5]:
# Create a new table with only the Allegiances and Names
df_new = df[['Allegiances', 'Name']]
df_new.head()

       Allegiances                     Name
0        Lannister           Addam Marbrand
1             None  Aegon Frey (Jinglebell)
2  House Targaryen          Aegon Targaryen
3    House Greyjoy            Adrack Humble
4        Lannister           Aemon Costayne

## 6. Groupby Allegiances and Count the number of Members

In [14]:
# Create a GroupBy object based on the "Allegiances" column in the newley created table
grp = df_new.groupby('Allegiances')['Name']
grp.head()

0               Addam Marbrand
1      Aegon Frey (Jinglebell)
2              Aegon Targaryen
3                Adrack Humble
4               Aemon Costayne
                ...
414              Jonos Bracken
495                 Lysa Tully
536                       Mela
540                     Mellei
565                      Morra
Name: Name, Length: 105, dtype: object

## 7. Rename Column from `Name` to `Members`

In [20]:
# Use the `rename` function to change the `Name` column to `Members`
df_new = df_new.rename(columns={'Name': 'Members'})
grp = df_new.groupby('Allegiances')['Members']
grp.head()

0               Addam Marbrand
1      Aegon Frey (Jinglebell)
2              Aegon Targaryen
3                Adrack Humble
4               Aemon Costayne
                ...
414              Jonos Bracken
495                 Lysa Tully
536                       Mela
540                     Mellei
565                      Morra
Name: Members, Length: 105, dtype: object

## 8. Sort House Member Count in Descending Order

In [29]:
# Sort by most deaths and reset index
grp1 = grp.count().reset_index().sort_values('Members', ascending=False)
grp1

        Allegiances  Members
15             None      253
14    Night's Watch      116
12        Lannister       81
16            Stark       73
1         Baratheon       56
2           Greyjoy       51
20         Wildling       40
8       House Stark       35
13          Martell       25
5     House Greyjoy       24
0             Arryn       23
18            Tully       22
6   House Lannister       21
9   House Targaryen       19
17        Targaryen       17
19           Tyrell       15
7     House Martell       12
11     House Tyrell       11
4   House Baratheon        8
10      House Tully        8
3       House Arryn        7

## 9. Select the 2nd Largest Allegiance via iloc

In [30]:
# Save the death count for the Night's Watch, using `iloc` to filter
night_watch = grp1.iloc[1,1]
night_watch

116