# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [2]:
csvpath = Path('../../Resources/stock_data.csv')
df = pd.read_csv(csvpath)
df.head()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.770,175.49,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.600,42.28,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.860,60.05,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ATVI,Activision Blizzard,Information Technology,65.83,NaN,0.431903,1.28,74.945,38.93,5.251867e+10,2.704000e+09,10.595120,5.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of rows and columns (shape) in the DataFrame.

In [3]:
df.shape

(504, 14)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [4]:
df.sample(10)

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
453,TSN,Tyson Foods,Consumer Staples,73.92,13.92,1.635323,4.79,84.650,57.20,2.695753e+10,2.521000e+09,0.937310,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
425,SYF,Synchrony Financial,Financials,34.98,13.35,1.600000,2.41,40.590,26.01,2.889375e+10,0.000000e+00,2.109662,1.97,http://www.sec.gov/cgi-bin/browse-edgar?action...
192,FE,FirstEnergy Corp,Utilities,30.64,11.18,4.673807,-14.49,35.220,27.93,1.370608e+10,-5.067000e+09,1.299448,2.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
333,NKE,Nike,Consumer Discretionary,62.49,24.90,1.218955,2.51,68.830,50.35,1.067761e+11,5.162000e+09,3.054993,8.91,http://www.sec.gov/cgi-bin/browse-edgar?action...
401,SPGI,"S&P Global, Inc.",Financials,173.31,27.38,1.094751,7.95,185.380,124.64,4.658595e+10,3.021000e+09,10.254704,50.56,http://www.sec.gov/cgi-bin/browse-edgar?action...
57,T,AT&T Inc,Telecommunication Services,35.57,12.14,5.415651,4.76,42.700,32.55,2.267133e+11,4.965300e+10,1.408315,1.80,http://www.sec.gov/cgi-bin/browse-edgar?action...
227,HSIC,Henry Schein,Health Care,70.85,19.85,0.000000,3.1,93.495,65.28,1.145296e+10,1.033985e+09,1.262194,3.74,http://www.sec.gov/cgi-bin/browse-edgar?action...
244,INCY,Incyte,Health Care,83.92,-119.89,0.000000,0.54,153.150,84.21,1.822096e+10,-8.168600e+07,17.026990,10.25,http://www.sec.gov/cgi-bin/browse-edgar?action...
199,F,Ford Motor,Consumer Discretionary,10.43,5.89,6.784387,1.9,13.480,10.19,4.241433e+10,9.281000e+09,0.270541,1.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
181,EXPD,Expeditors International,Industrials,60.36,25.26,1.352004,2.36,67.540,51.96,1.104068e+10,7.216430e+08,2.190319,5.55,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [7]:
df.count()

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

### Identify nulls records

In [9]:
df.isnull().mean()
df.isnull().sum()

symbol                 0
name                   2
sector                 3
price                  4
price_per_earnings     7
dividend_yield         5
earnings_per_share     6
52_week_low            4
52_week_high           4
market_cap             4
ebitda                12
price_per_sales        4
price_per_book        12
sec_filings            4
dtype: int64

### Drop Null Records

### Validate nulls have been dropped

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [15]:
df['ebitda'] = df['ebitda'].fillna(0)
df['ebitda'].isnull().mean()
df.loc[:, ['ebitda']]

           ebitda
0    9.048000e+09
1    0.000000e+00
2    5.744000e+09
3    1.031000e+10
4    2.704000e+09
..            ...
499  7.220000e+08
500  2.289000e+09
501  2.007400e+09
502  0.000000e+00
503  1.734000e+09

[504 rows x 1 columns]

### Drop Duplicates

In [20]:
df.duplicated()
df.drop_duplicates()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.770,175.49,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.600,42.28,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.860,60.05,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ATVI,Activision Blizzard,Information Technology,65.83,NaN,0.431903,1.28,74.945,38.93,5.251867e+10,2.704000e+09,10.595120,5.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.810,46.86,1.291502e+10,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...
500,YUM,Yum! Brands Inc,Consumer Discretionary,76.3,27.25,1.797080,4.07,86.930,62.85,2.700330e+10,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.490,108.17,2.445470e+10,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.6,55.610,38.43,1.067068e+10,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...
503,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.130,52.00,3.599111e+10,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Sample `price` field

In [21]:
df['price'].sample(10)

56      85.16
328     36.61
108    189.27
378    180.49
101      48.9
238      15.1
118    $43.10
24      37.14
498     41.26
454     52.65
Name: price, dtype: object

### Clean `price` Series by replacing `$`

In [23]:
df['price'] = df['price'].str.replace('$', ' ')
df['price'].sample(10)

303     54.73
56      85.16
79      62.69
82      90.47
475     32.71
283     38.86
385     12.82
472     92.28
265     65.98
96     100.36
Name: price, dtype: object

### Confirm data type of `price`

In [26]:
df.dtypes

symbol                 object
name                   object
sector                 object
price                  object
price_per_earnings    float64
dividend_yield        float64
earnings_per_share     object
52_week_low           float64
52_week_high          float64
market_cap            float64
ebitda                float64
price_per_sales       float64
price_per_book        float64
sec_filings            object
dtype: object

### Cast `price` Series as float and then validate using `dtype`

In [28]:
df['price'] = df['price'].astype('float')
df.dtypes

symbol                 object
name                   object
sector                 object
price                 float64
price_per_earnings    float64
dividend_yield        float64
earnings_per_share     object
52_week_low           float64
52_week_high          float64
market_cap            float64
ebitda                float64
price_per_sales       float64
price_per_book        float64
sec_filings            object
dtype: object